In [1]:
# importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# importing data
data = pd.read_csv('airbnb.csv', low_memory=False)
data

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

In [3]:
# creating copy of original dataframe
df = data.copy()
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

In [4]:
# checking columns
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [5]:
# changing column in proper format
df.columns = df.columns.str.lower().str.replace(" ","_")

In [6]:
df.head()

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   name                            102349 non-null  object
 2   host_id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host_name                       102193 non-null  object
 5   neighbourhood_group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country_code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room_type                       102599 non-null  object
 14  construction_year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service_fee                     102326 non-null  object
 17  minimum_nights                  102190 non-null  float64
 18  number_of_reviews               102416 non-null  float64
 19  last_review                     86706 non-null   object
 20  reviews_per_month               86720 non-null   float64
 21  review_rate_number              102273 non-null  float64
 22  calculated_host_listings_count  102280 non-null  float64
 23  availability_365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [8]:
# checking null values in data
df.isnull().sum()

id                                     0
name                                 250
host_id                                0
host_identity_verified               289
host_name                            406
neighbourhood_group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country_code                         131
instant_bookable                     105
cancellation_policy                   76
room_type                              0
construction_year                    214
price                                247
service_fee                          273
minimum_nights                       409
number_of_reviews                    183
last_review                        15893
reviews_per_month                  15879
review_rate_number                   326
calculated_host_listings_count       319
availability_365                     448
house_rules                        52131
license                           102597
dtype: int64

In [9]:
# removing null values from column
df.dropna(subset=['name'],axis=0,inplace=True)

In [10]:
# checking the null values in name column
df['name'].isnull().sum()

np.int64(0)

In [11]:
# checking the unique values in host_identity_verified column
df['host_identity_verified'].unique()

array(['unconfirmed', 'verified', nan], dtype=object)

In [12]:
# replacing the nan values in host_identity_verified with unconfirmed
df['host_identity_verified']=df['host_identity_verified'].fillna('unconfirmed')

In [13]:
# checking the null values in host_identity_verified column
df['host_identity_verified'].isnull().sum()

np.int64(0)

In [14]:
df.isnull().sum()

id                                     0
name                                   0
host_id                                0
host_identity_verified                 0
host_name                            400
neighbourhood_group                   27
neighbourhood                         16
lat                                    8
long                                   8
country                              527
country_code                         123
instant_bookable                      97
cancellation_policy                   71
room_type                              0
construction_year                    205
price                                244
service_fee                          273
minimum_nights                       403
number_of_reviews                    182
last_review                        15857
reviews_per_month                  15843
review_rate_number                   318
calculated_host_listings_count       318
availability_365                     430
house_rules                        52025
license                           102347
dtype: int64

In [15]:
# removing the null values from the host_name column
df.dropna(subset=['host_name'],axis=0,inplace=True)

In [16]:
df.isnull().sum()

id                                     0
name                                   0
host_id                                0
host_identity_verified                 0
host_name                              0
neighbourhood_group                   26
neighbourhood                         16
lat                                    8
long                                   8
country                              526
country_code                         122
instant_bookable                      96
cancellation_policy                   70
room_type                              0
construction_year                    200
price                                239
service_fee                          268
minimum_nights                       403
number_of_reviews                    182
last_review                        15777
reviews_per_month                  15763
review_rate_number                   314
calculated_host_listings_count       318
availability_365                     420
house_rules                        51867
license                           101947
dtype: int64

In [17]:
# checking for null values in neighbourhood_group column
df[df['neighbourhood_group'].isnull()]

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
74,1042206,"HARLEM, NEW YORK WELCOMES YOU!!",98195975718,unconfirmed,Violet,NaN,Washington Heights,40.83139,-73.94095,United States,...,$114,2.0,49.0,6/18/2019,1.60,2.0,2.0,NaN,The usual courtesies apply: - No smoking - No ...,NaN
75,1042759,BLUE TRIM GUEST HOUSE,4726877402,unconfirmed,Audrey,NaN,Clinton Hill,40.68346,-73.96374,United States,...,$80,2.0,105.0,6/26/2019,0.92,1.0,1.0,NaN,Shoes off please Cat can go in or out as he de...,NaN
76,1043311,Charming East Village One Bedroom Flat,74322993447,verified,Violet,NaN,East Village,40.72828,-73.98801,United States,...,$124,5.0,21.0,1/2/2019,0.20,4.0,1.0,NaN,no smoking quiet,NaN
77,1043863,Manhattan Room,11468499446,verified,Sofia,NaN,Upper East Side,40.76865,-73.95058,United States,...,$23,1.0,142.0,7/6/2019,1.50,4.0,1.0,NaN,I'm a semi kosher vegetarian which means that ...,NaN
78,1044415,Little King of Queens,68599531533,unconfirmed,Melanie,NaN,Woodside,40.75038,-73.90334,United States,...,$11,30.0,25.0,NaN,0.22,2.0,1.0,NaN,No Street Shoes allowed in House. No cooking K...,NaN
90,1051043,Cozy Bedroom in Williamsburg 3 BR,14067827221,unconfirmed,Lilianna,NaN,Williamsburg,40.71156,-73.96218,United States,...,$53,3.0,174.0,6/22/2019,1.54,5.0,4.0,NaN,Dryer and Washing Machine are in Basement (1.0...,NaN
91,1051595,Sunny room+Pvte office in huge loft,12884105458,unconfirmed,Albert,NaN,Bushwick,40.70032,-73.93830,United States,...,$146,4.0,24.0,NaN,0.28,5.0,1.0,NaN,"To enjoy, relax, feel safe and cozy. Also, kee...",NaN
92,1052148,Spacious Prospect Heights Apartment,63218812094,unconfirmed,Sarah,NaN,Prospect Heights,40.68233,-73.97261,United States,...,$117,4.0,166.0,6/27/2019,3.40,2.0,1.0,NaN,We ask that guests be respectful as there are ...,NaN
148,1083076,NYC Zen,83696952551,verified,Amelia,NaN,East Village,40.72354,-73.98295,United States,...,$119,3.0,30.0,6/17/2019,0.28,5.0,1.0,344.0,No Smoking No Pets No Parties,NaN
161,1090256,Indie-Chic Share In Williamsburg,1595619477,unconfirmed,Darcy,NaN,Williamsburg,40.71088,-73.95055,NaN,...,$204,4.0,202.0,5/28/2019,1.86,5.0,2.0,377.0,"No smoking in the apartment, even with the win...",NaN
168,1094122,Parlor Room In Victorian Townhouse,45745264571,unconfirmed,Heather,NaN,Clinton Hill,40.68843,-73.96408,United States,...,$185,149.0,294.0,6/24/2019,NaN,3.0,3.0,311.0,NaN,NaN
241,1134440,ACCOMMODATIONS GALORE #2,81849555528,verified,Richardson,NaN,East Harlem,40.80942,-73.93936,United States,...,$50,3.0,135.0,6/20/2019,1.30,1.0,3.0,109.0,I'm a semi kosher vegetarian which means that ...,NaN
249,1138859,BROWNSTONE SUNDRENCHED BEAUTY,49595827306,unconfirmed,Richardson,NaN,Bushwick,40.68800,-73.91710,United States,...,$206,3.0,111.0,NaN,2.13,NaN,1.0,150.0,Please review the terms of this rental agreeme...,NaN
262,1146039,DOMINIQUE'S NY mini efficiency* wifi*metro*quiet,73292273095,verified,Hamilton,NaN,Eastchester,40.88057,-73.83572,United States,...,$182,2.0,38.0,6/27/2019,0.50,4.0,13.0,NaN,Please do not let any of the animals outside! ...,NaN
287,1159846,**Fantastic Williamsburg Apt**,98480978167,unconfirmed,Baker,NaN,Williamsburg,40.71031,-73.95830,United States,...,$77,NaN,9.0,2/16/2019,0.11,4.0,1.0,323.0,Maximum of 2 guests staying in the studio. No...,NaN
295,1164265,Cozy Private Room in Apartment,11745797323,unconfirmed,Tucker,NaN,Harlem,40.82976,-73.94867,United States,...,$192,30.0,64.0,7/6/2018,0.68,1.0,1.0,52.0,#NAME?,NaN
319,1177520,BROOKLYN > Guest Room w/ King Bed in Williamsburg,59305845429,verified,Holmes,NaN,Williamsburg,40.71398,-73.95763,United States,...,$216,2.0,220.0,6/22/2019,2.17,3.0,2.0,361.0,NaN,NaN
361,1200716,Bienvenue,92724296556,verified,Richards,NaN,Queens Village,40.72413,-73.76133,United States,...,$134,1.0,43.0,7/8/2019,0.45,5.0,1.0,150.0,- no shoes inside - quiet after 8:30pm,NaN
384,1213419,Sun-Drenched Hamilton Hts Jewel,618609977,unconfirmed,Payne,NaN,Harlem,40.82399,-73.95328,United States,...,$217,14.0,35.0,6/1/2019,0.35,5.0,1.0,61.0,I feel very responsible and accountable for yo...,NaN
415,1230541,Truly Amazing Oasis In The City,65344662582,unconfirmed,Heather,NaN,Williamsburg,40.71363,-73.96019,United States,...,$170,3.0,150.0,7/5/2019,1.55,3.0,1.0,NaN,NaN,NaN
448,1248766,Hancock Town House!-Stuyvesant Mews,17302896128,unconfirmed,Lucia,NaN,Bedford-Stuyvesant,40.68669,-73.91989,United States,...,$200,1.0,27.0,10/8/2017,0.28,1.0,4.0,181.0,NaN,NaN
465,1258156,☆ STUDIO East Village ☆ Own bath! ☆ Sleeps 4 ☆,87134189711,unconfirmed,Alan,NaN,East Village,40.72636,-73.98917,United States,...,$103,2.0,280.0,7/5/2019,2.92,1.0,3.0,94.0,NaN,NaN
488,1270858,The Happy home!,91709093046,verified,Eddy,NaN,East Harlem,40.79320,-73.94007,United States,...,$227,2.0,15.0,2/15/2016,0.16,NaN,1.0,326.0,Please remember that this is a residential bui...,NaN
492,1273068,Large Quiet Bedroom Near Columbia U,95738430033,verified,Rebecca,NaN,Harlem,40.80518,-73.95359,United States,...,$189,5.0,43.0,1/3/2018,0.47,3.0,2.0,147.0,NaN,NaN
40383,23304867,2000 sq ft Unique Cozy Art Home with Private Room,57604959046,unconfirmed,Angeline,NaN,Bushwick,40.69085,-73.90937,United States,...,$62,1.0,0.0,NaN,NaN,4.0,1.0,269.0,NaN,NaN
40396,23312047,Large room near express trains & Central Park,22672807843,unconfirmed,Julian,NaN,Upper West Side,40.79471,-73.96918,United States,...,$35,4.0,2.0,2/22/2019,0.37,2.0,1.0,0.0,No pets. No smoking. Please :),NaN

In [18]:
# now replacing the null values from neighbourhood_group acc to the latitude and longitude
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
import time


# Initialize geolocator
geolocator = Nominatim(user_agent="geoapi")

# Function to get neighbourhood group (e.g., borough like Manhattan, Brooklyn, etc.)
def get_neighbourhood_group(lat, lon):
    try:
        location = geolocator.reverse((lat, lon), timeout=10)
        address = location.raw.get('address', {})
        # Common field that holds the borough name
        return address.get('borough') or address.get('suburb') or address.get('city_district') or 'Not Found'
    except GeocoderTimedOut:
        time.sleep(1)
        return get_neighbourhood_group(lat, lon)
    except Exception as e:
        return 'Error'

# Fill missing neighbourhood_group
df['neighbourhood_group'] = df.apply(
    lambda row: get_neighbourhood_group(row['lat'], row['long']) if pd.isna(row['neighbourhood_group']) else row['neighbourhood_group'],
    axis=1
)

In [19]:
# now checking for null values in neighbourhood_group
df['neighbourhood_group'].isnull().sum()

np.int64(0)

In [20]:
#now removing the null values from neighbourhood column,latidude,logitude
df.dropna(subset =['neighbourhood','lat','long'],inplace=True)

In [21]:
df.isnull().sum()

id                                     0
name                                   0
host_id                                0
host_identity_verified                 0
host_name                              0
neighbourhood_group                    0
neighbourhood                          0
lat                                    0
long                                   0
country                              524
country_code                         120
instant_bookable                      94
cancellation_policy                   68
room_type                              0
construction_year                    199
price                                238
service_fee                          268
minimum_nights                       402
number_of_reviews                    182
last_review                        15776
reviews_per_month                  15762
review_rate_number                   314
calculated_host_listings_count       318
availability_365                     419
house_rules                        51859
license                           101923
dtype: int64

In [22]:
# deleting country,country_code column as ths data is of new york only so we don't reqired country column for analysis
df.drop(['country','country_code'],axis=1,inplace=True)

In [23]:
df.isnull().sum()

id                                     0
name                                   0
host_id                                0
host_identity_verified                 0
host_name                              0
neighbourhood_group                    0
neighbourhood                          0
lat                                    0
long                                   0
instant_bookable                      94
cancellation_policy                   68
room_type                              0
construction_year                    199
price                                238
service_fee                          268
minimum_nights                       402
number_of_reviews                    182
last_review                        15776
reviews_per_month                  15762
review_rate_number                   314
calculated_host_listings_count       318
availability_365                     419
house_rules                        51859
license                           101923
dtype: int64

In [24]:
# Replacing values in instant_bookable column with unconfirmed
df['instant_bookable'] = df['instant_bookable'].fillna("Unconfirmed")

In [25]:
# replacing the true with yes and false with no in instant_bookable column
df['instant_bookable'] = df['instant_bookable'].astype(str).replace({"True": "Yes", "False": "No"})

In [26]:
df.isnull().sum()

id                                     0
name                                   0
host_id                                0
host_identity_verified                 0
host_name                              0
neighbourhood_group                    0
neighbourhood                          0
lat                                    0
long                                   0
instant_bookable                       0
cancellation_policy                   68
room_type                              0
construction_year                    199
price                                238
service_fee                          268
minimum_nights                       402
number_of_reviews                    182
last_review                        15776
reviews_per_month                  15762
review_rate_number                   314
calculated_host_listings_count       318
availability_365                     419
house_rules                        51859
license                           101923
dtype: int64

In [27]:
# Replacing nan values in cancellation_policy column
df['cancellation_policy'] = df['cancellation_policy'].fillna("unknown")

In [28]:
# dropping nan values in construction year
df.dropna(subset=['construction_year'],inplace=True)

In [29]:
# changing type of construction_year column
df['construction_year'] = df['construction_year'].astype(np.int16)

In [30]:
df.isnull().sum()

id                                     0
name                                   0
host_id                                0
host_identity_verified                 0
host_name                              0
neighbourhood_group                    0
neighbourhood                          0
lat                                    0
long                                   0
instant_bookable                       0
cancellation_policy                    0
room_type                              0
construction_year                      0
price                                234
service_fee                          262
minimum_nights                       390
number_of_reviews                    181
last_review                        15749
reviews_per_month                  15740
review_rate_number                   308
calculated_host_listings_count       316
availability_365                     406
house_rules                        51806
license                           101724
dtype: int64

In [31]:
# removing the dollar symbol from price column
df['price'] = df['price'].str.lstrip('$')

In [32]:
# changing the dtype of price column
df['price'] = pd.to_numeric(df['price'], errors='coerce').astype('float32')

In [33]:
# filling the null values with mean of price column and again changing the dtype to int16
df['price'] = df['price'].fillna(df['price'].mean()).astype('int16')

In [34]:
df['price'].isnull().sum()

np.int64(0)

In [35]:
# removing the dollar symbol from service_fee column
df['service_fee'] = df['service_fee'].str.lstrip('$')

In [36]:
# changing the dtype of service_fee column
df['service_fee'] = pd.to_numeric(df['service_fee'], errors='coerce').astype('float32')

In [37]:
# filling the null values with mean of service_fee column and again changing the dtype to int 16
df['service_fee'] = df['service_fee'].fillna(df['service_fee'].mean()).astype('int16')

In [38]:
df['service_fee'].isnull().sum()

np.int64(0)

In [39]:
#dropping the rows in which price is less than service fee
df.drop(index=df[df['price']<df['service_fee']].index,inplace=True)

In [40]:
# now changing the column names
df.rename(columns = {'price':'price_in_$','service_fee':'service_fee_in_$'},inplace=True)

In [41]:
df.isnull().sum()

id                                     0
name                                   0
host_id                                0
host_identity_verified                 0
host_name                              0
neighbourhood_group                    0
neighbourhood                          0
lat                                    0
long                                   0
instant_bookable                       0
cancellation_policy                    0
room_type                              0
construction_year                      0
price_in_$                             0
service_fee_in_$                       0
minimum_nights                       390
number_of_reviews                    181
last_review                        15745
reviews_per_month                  15736
review_rate_number                   308
calculated_host_listings_count       316
availability_365                     406
house_rules                        51800
license                           101711
dtype: int64

In [42]:
# filling the missing values in minimum_nights with mean of minimum_nights column and changing the dtype of the column
df['minimum_nights'] = df['minimum_nights'].fillna(df['minimum_nights'].mean()).round().astype(np.int8)

In [43]:
df.sample(30)

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,...,service_fee_in_$,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
11697,7461589,Cushy Room in Cool Bk Neighborhood,26962418789,verified,Barbra,Brooklyn,Bushwick,40.70107,-73.91983,No,...,208,1,0.0,NaN,NaN,3.0,1.0,72.0,House Rules 1. Check-in is 4 pm local time. If...,NaN
97519,54861080,Private room in east Williamsburg Brooklyn Loft,18161677898,unconfirmed,Anthony,Brooklyn,Williamsburg,40.70859,-73.93572,Yes,...,103,3,47.0,7/4/2019,4.26,5.0,2.0,188.0,NaN,NaN
20385,12259972,Amazing & Unique Soho/Nolita One Bedroom,61897378060,unconfirmed,Andrew,Manhattan,Chinatown,40.71833,-73.99443,Yes,...,124,1,29.0,6/21/2019,0.95,2.0,1.0,358.0,Please remember that this is a residential bui...,NaN
48122,27579117,"Central Harlem Lux, near to all major restaura...",6834020493,unconfirmed,Mohamed,Manhattan,East Harlem,40.80605,-73.94208,Yes,...,24,1,1.0,7/5/2019,1.00,2.0,1.0,307.0,No other pets allowed. No smoking. We expect g...,NaN
96495,54295525,Quiet and Cozy Brooklyn Home in Perfect Location,81542635912,verified,Jared,Brooklyn,Greenpoint,40.72446,-73.95160,Yes,...,201,3,13.0,6/17/2019,1.13,5.0,1.0,0.0,Please remember that this is a residential bui...,NaN
78221,44202794,Cozy and Cute 1 bdrm in perfect Midtown location,29960390533,verified,Kate,Manhattan,Hell's Kitchen,40.76468,-73.98680,Yes,...,69,30,4.0,2/2/2018,0.14,4.0,1.0,0.0,NaN,NaN
38102,22045071,1 BR in historical Brownstone with terrace/garden,28699385622,unconfirmed,Stephen,Manhattan,Harlem,40.81756,-73.94520,No,...,30,14,2.0,4/26/2019,0.32,4.0,1.0,36.0,Please remember that this is a residential bui...,NaN
43097,24803809,Cozy place located in the Heart of Manhattan,60667495235,unconfirmed,Lincoln,Manhattan,Hell's Kitchen,40.76691,-73.98726,Yes,...,150,1,3.0,5/30/2019,1.96,4.0,5.0,23.0,"Guests are expected to be respectful, kind, ne...",NaN
35037,20352271,Private room in trendy Williamsburg,51386896065,verified,Kandi,Brooklyn,Williamsburg,40.70980,-73.94180,No,...,230,2,6.0,1/2/2019,0.66,5.0,3.0,173.0,NaN,NaN
41386,23858824,Sonder | Stock Exchange | Beautiful 1BR + Kitchen,95414927466,unconfirmed,Sonder (NYC),Manhattan,Financial District,40.70732,-74.01029,Yes,...,124,2,8.0,6/20/2019,1.98,2.0,327.0,357.0,Please respect the quiet in the building. Very...,NaN
69430,39347525,Beautiful bedroom in Prospect Heights,8935488800,verified,Maite & Javi,Brooklyn,Prospect Heights,40.67440,-73.96558,No,...,65,7,43.0,6/29/2019,0.52,3.0,1.0,38.0,NaN,NaN
33887,19717126,Manhattan modern walk to Central Park & Q train,55006717364,verified,Dj,Manhattan,Upper East Side,40.77594,-73.94818,No,...,142,3,0.0,NaN,NaN,5.0,1.0,132.0,Keep clean; quiet; no parties or excessive dri...,NaN
85650,48305831,"Elegant/Classy Artist Loft, 2 Priv bdms/CLEAN",95241565415,verified,Margaret,Queens,Long Island City,40.74321,-73.95533,No,...,189,21,17.0,12/16/2018,0.46,1.0,1.0,192.0,Fresh linens and towels are provided. No smoki...,NaN
100965,56764306,Queen bed-Close to Columbia U & Central Park,38227459724,verified,Jaleh,Manhattan,Harlem,40.80227,-73.95523,Yes,...,118,1,269.0,6/29/2019,8.79,5.0,2.0,65.0,"Check-in is 2:00 pm, and checkout 11:00 am. Yo...",NaN
1428,1790020,Homey Townhouse + PRIVATE Bathroom,7381654812,unconfirmed,Chris & Don,Brooklyn,Cobble Hill,40.68648,-73.99257,No,...,99,3,254.0,6/23/2019,3.05,4.0,1.0,405.0,Please Note: This unit was just renovated in N...,NaN
11324,7255581,Bed and Breakfast in Manhattan!,11206867145,verified,Sofia,Manhattan,East Harlem,40.80275,-73.93904,No,...,119,1,225.0,9/30/2018,4.95,4.0,4.0,26.0,"Please be quiet and respectful. Also, limited ...",NaN
88050,49631351,Amazing Apt in Hells Kitchen!!,25948877941,verified,Steven,Manhattan,Hell's Kitchen,40.76249,-73.99103,No,...,102,1,117.0,2/23/2018,3.34,4.0,1.0,0.0,Check-In is 3pm. Check-Out is 12 Noon. In or...,NaN
23270,13853357,Luxury Apt Financial Dist. steps from Wall Street,48606770413,verified,Luidmila,Manhattan,Financial District,40.71017,-74.00924,Yes,...,177,3,76.0,6/30/2019,2.93,3.0,1.0,338.0,-No smoking -No guests except those registered...,NaN
66335,37638157,Private studio in West Village on quite street,17900878003,unconfirmed,Sara,Manhattan,West Village,40.73737,-74.00437,Yes,...,183,30,88.0,12/7/2020,0.63,5.0,1.0,65.0,NaN,NaN
94725,53317954,Furnished Midtown One Bedroom Beauty,33829971115,unconfirmed,Stanley,Manhattan,Murray Hill,40.75028,-73.97702,No,...,158,30,1.0,7/14/2018,0.08,3.0,50.0,365.0,No smoking or pets allowed and we request that...,NaN
31276,18275071,"Sunny West Village 1BR: amazing location, spac...",60232103357,verified,Vicki,Manhattan,West Village,40.72969,-74.00697,No,...,124,2,10.0,6/21/2019,0.68,2.0,1.0,0.0,No smoking indoors (a big porch with seating a...,NaN
84675,47767339,Upper East Side Prewar,29954822127,verified,Karen,Manhattan,Upper East Side,40.77815,-73.96158,No,...,154,1,0.0,NaN,NaN,2.0,1.0,73.0,BUILDING IS RESIDENTIAL. DOCTORS AND NURSES WH...,NaN
81924,46247961,Big 3 Bedroom Garden Level Apartment Near Subway,10393369361,unconfirmed,Sasha,Bronx,Claremont Village,40.83507,-73.91040,Yes,...,164,90,2.0,4/23/2018,0.12,4.0,7.0,223.0,NaN,NaN
35669,20701325,Private Room in Williamsburg Apartment,78412679796,verified,Oliver,Brooklyn,Williamsburg,40.71151,-73.94396,Yes,...,126,3,1.0,12/4/2018,0.14,4.0,1.0,0.0,NaN,NaN
59342,33775923,"Charming ,cozy private bedroom",85388232212,verified,Yahaira,Manhattan,Washington Heights,40.83932,-73.94554,Yes,...,116,2,139.0,1/1/2022,2.19,5.0,2.0,270.0,NaN,NaN
94799,53358824,Cozy 1-Bedroom Apartment in Harlem,98588137115,verified,Haydenn,Manhattan,Harlem,40.81717,-73.93918,Yes,...,95,2,2.0,6/4/2018,0.15,4.0,1.0,0.0,NaN,NaN
1290,1713803,Spacious Room/Hip East Village Apt!,8061287875,unconfirmed,Evan,Manhattan,East Village,40.72718,-73.98120,Yes,...,41,6,80.0,5/26/2019,1.01,2.0,1.0,104.0,NaN,NaN
59777,34016173,UPER EAST SIDE TRAN STOP'S 96'ST OR 103RD NY ...,96762654623,unconfirmed,Benjamin,Manhattan,East Harlem,40.78786,-73.94952,Yes,...,133,30,4.0,12/31/2021,0.41,3.0,1.0,250.0,NaN,NaN
81461,45992246,"Cozy, Private Apartment with Balcony",90150939145,verified,Jacqueline,Brooklyn,Greenpoint,40.72485,-73.94582,No,...,41,5,0.0,NaN,NaN,4.0,1.0,0.0,NaN,NaN
72645,41123170,Charming studio apartment,48510560017,verified,Nicholas,Bronx,Pelham Bay,40.85362,-73.82949,Yes,...,191,1,0.0,NaN,NaN,4.0,1.0,364.0,NaN,NaN

In [44]:
 # fillling nan values with 0 in number_of _reviews column
df['number_of_reviews'] = df['number_of_reviews'].fillna(0).astype(np.int16)

In [45]:
# changing the datatype of last review column
df['last_review'] = pd.to_datetime(df['last_review'])

In [46]:
# filling the reviews_per_month column with 0 where number_of_reviews are 0 
df['reviews_per_month'] = df['reviews_per_month'].mask(df['number_of_reviews']==0,0)

In [47]:
# changing the datatype of reviews_per_month column from float64 to float 16
df['reviews_per_month'] = df['reviews_per_month'].astype('float16')

In [48]:
# removing the null values from reviews_per_month column
df.dropna(subset=['reviews_per_month'],axis=0,inplace=True)

In [49]:
df.head()

C:\Program Files\Python312\Lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()
C:\Program Files\Python312\Lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,...,service_fee_in_$,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,No,...,193,10,9,2021-10-19,0.209961,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,No,...,28,30,45,2022-05-21,0.379883,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,unconfirmed,Elise,Manhattan,Harlem,40.80902,-73.94190,Yes,...,124,3,0,NaT,0.000000,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,No,...,41,10,9,2018-11-19,0.099976,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,Yes,...,115,3,74,2019-06-22,0.589844,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN

In [50]:
# filling nan values in review_rate_number with mean value and changing the dtype to int8 to reduce memory usage
df['review_rate_number'] = df['review_rate_number'].fillna(df['review_rate_number'].mean().round()).astype('int8')

In [51]:
# filling nan values in calculated_host_listings_count with mean value changing the dtype to int8 to reduce memory usage
df['calculated_host_listings_count'] = df['calculated_host_listings_count'].fillna(df['calculated_host_listings_count'].mean().round()).astype('int8')

In [52]:
# converting the days into 365 where the number of days in availability_365 is greater than 365 because a year cannot have more than 365 days
df.loc[df['availability_365']>365,'availability_365']=365

In [53]:
# replacing the availability_365 column with mean where availability_365 is 0
df['availability_365'] = df['availability_365'].mask(df['availability_365']==0,df['availability_365'].mean().round())

In [54]:
# replacing the availability_365 column with mean where availability_365 is nan
df['availability_365'] = df['availability_365'].fillna(df['availability_365'].mean().round()).astype('int16')

In [55]:
# dropping house_rules and license column
df.drop(columns=['house_rules','license'],inplace=True)

In [56]:
# checking duplicates values
df.duplicated().sum()

np.int64(539)

In [57]:
# dropping duplicate values
df.drop_duplicates(keep='first',inplace=True)

In [58]:
# again checking duplicates values
df.duplicated().sum()

np.int64(0)

In [59]:
# now resetting the index values
df.reset_index(drop=True,inplace=True)

In [60]:
df

C:\Program Files\Python312\Lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()
C:\Program Files\Python312\Lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,...,construction_year,price_in_$,service_fee_in_$,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,No,...,2020,966,193,10,9,2021-10-19,0.209961,4,6,286
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,No,...,2007,142,28,30,45,2022-05-21,0.379883,4,2,228
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,unconfirmed,Elise,Manhattan,Harlem,40.80902,-73.94190,Yes,...,2005,620,124,3,0,NaT,0.000000,5,1,352
3,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,No,...,2009,204,41,10,9,2018-11-19,0.099976,3,1,289
4,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,Yes,...,2013,577,115,3,74,2019-06-22,0.589844,3,1,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101147,57356923,HUGE BEDROOM LORIMER L TRAIN!!!,29320426760,unconfirmed,Jose,Brooklyn,Williamsburg,40.71355,-73.95003,Yes,...,2016,570,125,28,17,2019-04-30,0.609863,1,6,229
101148,57357476,Spacious two bedrooms condo in upper Manhattan,14430571516,verified,Max,Manhattan,Inwood,40.86461,-73.92363,Yes,...,2003,665,125,2,49,2019-05-23,1.809570,1,3,147
101149,57358028,"Room in Queens, NY, near LGA.",56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,Yes,...,2022,982,196,1,239,2019-06-29,8.578125,2,2,361
101150,57363551,Sunny Brownstone Studio in BedStuy Brooklyn,11145329848,unconfirmed,Jamal,Brooklyn,Bedford-Stuyvesant,40.68221,-73.94618,No,...,2016,524,125,2,104,2019-06-12,3.689453,5,1,268
101151,57367417,Rosalee Stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,No,...,2011,524,125,4,22,2019-06-15,0.850098,4,1,238

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101152 entries, 0 to 101151
Data columns (total 22 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              101152 non-null  int64
 1   name                            101152 non-null  object
 2   host_id                         101152 non-null  int64
 3   host_identity_verified          101152 non-null  object
 4   host_name                       101152 non-null  object
 5   neighbourhood_group             101152 non-null  object
 6   neighbourhood                   101152 non-null  object
 7   lat                             101152 non-null  float64
 8   long                            101152 non-null  float64
 9   instant_bookable                101152 non-null  object
 10  cancellation_policy             101152 non-null  object
 11  room_type                       101152 non-null  object
 12  construction_year               101152 non-null  int16
 13  price_in_$                      101152 non-null  int16
 14  service_fee_in_$                101152 non-null  int16
 15  minimum_nights                  101152 non-null  int8
 16  number_of_reviews               101152 non-null  int16
 17  last_review                     85476 non-null   datetime64[ns]
 18  reviews_per_month               101152 non-null  float16
 19  review_rate_number              101152 non-null  int8
 20  calculated_host_listings_count  101152 non-null  int8
 21  availability_365                101152 non-null  int16
dtypes: datetime64[ns](1), float16(1), float64(2), int16(5), int64(2), int8(3), object(8)
memory usage: 11.5+ MB

In [71]:
df

C:\Program Files\Python312\Lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()
C:\Program Files\Python312\Lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,...,construction_year,price_in_$,service_fee_in_$,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,No,...,2020,966,193,10,9,2021-10-19,0.209961,4,6,286
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,No,...,2007,142,28,30,45,2022-05-21,0.379883,4,2,228
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,unconfirmed,Elise,Manhattan,Harlem,40.80902,-73.94190,Yes,...,2005,620,124,3,0,NaT,0.000000,5,1,352
3,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,No,...,2009,204,41,10,9,2018-11-19,0.099976,3,1,289
4,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,Yes,...,2013,577,115,3,74,2019-06-22,0.589844,3,1,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101147,57356923,HUGE BEDROOM LORIMER L TRAIN!!!,29320426760,unconfirmed,Jose,Brooklyn,Williamsburg,40.71355,-73.95003,Yes,...,2016,570,125,28,17,2019-04-30,0.609863,1,6,229
101148,57357476,Spacious two bedrooms condo in upper Manhattan,14430571516,verified,Max,Manhattan,Inwood,40.86461,-73.92363,Yes,...,2003,665,125,2,49,2019-05-23,1.809570,1,3,147
101149,57358028,"Room in Queens, NY, near LGA.",56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,Yes,...,2022,982,196,1,239,2019-06-29,8.578125,2,2,361
101150,57363551,Sunny Brownstone Studio in BedStuy Brooklyn,11145329848,unconfirmed,Jamal,Brooklyn,Bedford-Stuyvesant,40.68221,-73.94618,No,...,2016,524,125,2,104,2019-06-12,3.689453,5,1,268
101151,57367417,Rosalee Stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,No,...,2011,524,125,4,22,2019-06-15,0.850098,4,1,238